{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Ajouter votre Fiche de Stock</h1>
            <p class="lead fw-normal text-white-50 mb-0">Veuillez remplir le formulaire ci-dessous</p>
        </div>
    </div>
</header>

<div class="container mt-5">
    <form method="POST" class="card p-4 shadow-sm">
        {% csrf_token %}

        <div class="mb-3">
            {{ form_enter.number.label_tag }}
            {{ form_enter.number }}
        </div>

        <div class="mb-3">
            {{ form_enter.source.label_tag }}
            {{ form_enter.source }}
        </div>

        <div class="mb-3">
            {{ form_enter.quantity.label_tag }}
            {{ form_enter.quantity }}
        </div>

        <div class="mb-3">
            {{ form_enter.price.label_tag }}
            {{ form_enter.price }}
        </div>

        <div class="mb-3">
            {{ form_enter.observation.label_tag }}
            {{ form_enter.observation }}
        </div>

        <button type="submit" class="btn btn-primary w-100">➕ Ajouter</button>
    </form>
</div>
{% endblock %}
