{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Ajouter votre Fiche de Stock ici SVP</h1>
            <p class="lead fw-normal text-white-50 mb-0">Remplire le formulaire</p>
        </div>
    </div>
</header>

<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        {{ form_enter.product.label_tag }}  <!-- Product Name -->
        {{ form_enter.product }}
    </div>
    <div class="mb-3">

        {{ form_enter.number.label_tag }}  <!-- number -->
        {{ form_enter.number }}
    </div>
    <div class="mb-3">
        {{ form_enter.source.label_tag }}  <!-- Category Dropdown -->
        {{ form_enter.source }}
    </div>
    <div class="mb-3">
        {{ form_enter.quantity.label_tag }}  <!-- Quantity -->
        {{ form_enter.quantity }}
    </div>
    <div class="mb-3">
        {{ form_enter.price.label_tag }}  <!-- Price -->
        {{ form_enter.price }}
    </div>
    <div class="mb-3">
        {{ form_enter.observation.label_tag }}  <!-- observation -->
        {{ form_enter.media }}
        {{ form_enter.observation }}
    </div>
    <button type="submit" value="" class="btn btn-primary">Add Product</button>
</form>


{% endblock %}